<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CatchupGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CatchupGrabber.Properties.Settings>
            <setting name="DownloadSubtitlesSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlypeSpanish" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPSpanish" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPIrish" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyOptionSpanish" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ConvertSubtitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyOptionIreland" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitDLOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HTTPSwedish" serializeAs="String">
                <value />
            </setting>
            <setting name="SubtitleFormat" serializeAs="String">
                <value>.srt</value>
            </setting>
            <setting name="IrishRegionOption" serializeAs="String">
                <value>ie</value>
            </setting>
            <setting name="SpaceReplace" serializeAs="String">
                <value>False</value>
            </setting>
        </CatchupGrabber.Properties.Settings>
    </userSettings>
</configuration>